@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
COLORS: 1. #621308  2.  #ffcc00

 font-family: "Montserrat", serif;
   font-family: "Inter", serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #621308; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #ffcc00; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade when hovered */
}

/* // about section  */

#about {
  background-image: url("../public/img/aboutBG.jpg");
  background-position: center;
  background-size: cover;
}
